<h1>Категории цветов</h1>
<div class="category-list">
    <div class="category-item">
        <h3>Розы</h3>
        <p>Классические розы для любого случая.</p>
        <a href="{% url 'all_products' %}">Перейти</a>
    </div>
    <div class="category-item">
        <h3>Тюльпаны</h3>
        <p>Яркие и нежные тюльпаны.</p>
        <a href="{% url 'all_products' %}">Перейти</a>
    </div>
    <div class="category-item">
        <h3>Хризантемы</h3>
        <p>Долговечные и красивые хризантемы.</p>
        <a href="{% url 'all_products' %}">Перейти</a>
    </div>
</div>
<a href="{% url 'home' %}">Вернуться на главную</a>