{% extends 'base.html' %}
{% block title %}Удалить категорию{% endblock %}
{% block content %}
<div class="banner">
    <h1>Удалить категорию "{{ object.name }}"</h1>
</div>
<div class="card delete-page">
    <p class="warning">Вы уверены, что хотите удалить категорию "{{ object.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>
<a href="{% url 'category_list' %}" class="btn btn-secondary">Вернуться к списку категорий</a>
{% endblock %}