{% extends 'base.html' %}
{% block title %}Удалить поставщика{% endblock %}
{% block content %}
<div class="banner">
    <h1>Удалить поставщика "{{ object.name }}"</h1>
</div>
<div class="card delete-page">
    <p class="warning">Вы уверены, что хотите удалить поставщика "{{ object.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>
<div class="actions">
    <a href="{% url 'supplier_list' %}" class="btn btn-secondary">Вернуться к списку поставщиков</a>
</div>
{% endblock %}